modules = ["nodejs-20", "python-3.11"]
[nix]
channel = "stable-25_05"
packages = ["unzip", "zip", "imagemagick", "ffmpeg"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[agent]
integrations = ["javascript_stripe:1.0.0"]

[deployment]
deploymentTarget = "cloudrun"
